Requirement already satisfied: pylint in d:\projects\django-2.2\py3\lib\site-packages (2.4.4)
Requirement already satisfied: astroid<2.4,>=2.3.0 in d:\projects\django-2.2\py3\lib\site-packages (from pylint) (2.3.3)
Requirement already satisfied: colorama; sys_platform == "win32" in d:\projects\django-2.2\py3\lib\site-packages (from pylint) (0.4.3)
Requirement already satisfied: isort<5,>=4.2.5 in d:\projects\django-2.2\py3\lib\site-packages (from pylint) (4.3.21)
Requirement already satisfied: mccabe<0.7,>=0.6 in d:\projects\django-2.2\py3\lib\site-packages (from pylint) (0.6.1)
Requirement already satisfied: wrapt==1.11.* in d:\projects\django-2.2\py3\lib\site-packages (from astroid<2.4,>=2.3.0->pylint) (1.11.2)
Requirement already satisfied: lazy-object-proxy==1.4.* in d:\projects\django-2.2\py3\lib\site-packages (from astroid<2.4,>=2.3.0->pylint) (1.4.3)
Requirement already satisfied: six~=1.12 in d:\projects\django-2.2\py3\lib\site-packages (from astroid<2.4,>=2.3.0->pylint) (1.13.0)
Requirement already satisfied: typed-ast<1.5,>=1.4.0; implementation_name == "cpython" and python_version < "3.8" in d:\projects\django-2.2\py3\lib\site-packages (from astroid<2.4,>=2.3.0->pylint) (1.4.0)
